---
import LeftSide from "./LeftSide.astro";
import Photo from "../../assets/foto-iqbal.png";
import { Image } from "astro:assets";
---

<div
  class="text-text-light flex flex-col gap-10 h-full items-center justify-center lg:gap-40 md:h-screen md:flex-row"
>
  <LeftSide />
  <Image src={Photo} alt="" class="md:w-1/2 lg:w-1/3" />
</div>
