---
import LeftSide from "./LeftSide.astro";
import Photo from "../../assets/foto-iqbal-triangle.png";
import { Image } from "astro:assets";
---

<section
  id="home"
  class="text-text-light grid grid-cols-1 lg:grid-cols-2 gap-10 lg:gap-0 sm:items-center sm:justify-center h-screen lg:overflow-hidden mx-5 mt-20 sm:mt-0"
>
  <!-- desc -->
  <div class="animate-fade-right">
    <LeftSide />
  </div>

  <!-- image hero -->
  <Image
    src={Photo}
    alt="avatar"
    class="scale-[125%] sm:scale-100 lg:w-full row-span-4 lg:row-span-1 animate-fade-left"
  />

  <!-- blob glow background effect -->
  <div
    class="w-20 h-20 bg-primary absolute blur-3xl top-1/2 right-0 -z-10 opacity-40 md:opacity-60"
  >
  </div>
</section>
