---
import LeftSide from "./LeftSide.astro";
import Photo from "../../assets/foto-iqbal.png";
import { Image } from "astro:assets";
---

<section
  id="home"
  class="text-text-light grid grid-cols-1 md:grid-cols-2 gap-10 h-full items-center justify-center lg:gap-20 md:h-screen"
>
  <!-- desc -->
  <LeftSide />

  <!-- image hero -->
  <Image src={Photo} alt="avatar" class="w-full" />
</section>
