---
import LeftSide from "./LeftSide.astro";
import Photo from "../../assets/foto-iqbal.png";
import { Image } from "astro:assets";
---

<div
  class="text-text-light flex flex-col gap-10 h-full items-center justify-center lg:gap-20 md:h-screen md:flex-row relative overflow-hidden"
>
  <LeftSide />
  <!-- image hero -->
  <Image src={Photo} alt="" class="md:w-1/2 lg:w-[500px]" />
</div>
