---
import LeftSide from "./LeftSide.astro";
import Photo from "../../assets/foto-iqbal.png";
import { Image } from "astro:assets";
---

<div
  class="text-text-light flex flex-col gap-10 h-full items-center justify-center sm:gap-40 sm:h-screen sm:flex-row"
>
  <LeftSide />
  <Image src={Photo} alt="" />
</div>
