---
import ProjectCard from "./ProjectCard.astro";
import project1 from "../../assets/project-1.png";
import project2 from "../../assets/project-2.png";
import project3 from "../../assets/project-3.png";
import project4 from "../../assets/project-4.png";

const projects = [
  {
    imgUrl: project1,
    projectName: "BayiBunda.id",
    description:
      "e-commerce website to manage and serve the needs of mothers and babies, including health products, treatments, and consultations",
    techStacks: ["Next JS", "Lumen", "Antd", "Axios, Tanstack Query"],
    github: "#",
    demo: "https://bayibunda.id/",
  },
  {
    imgUrl: project2,
    projectName: "Internpro",
    description:
      "An app for vocational schools to manage student internships. It helps track placements and progress.",
    techStacks: ["React JS", "Tailwind CSS", "Antd"],
    github: "#",
    demo: "https://dev-front-internpro.schooltechindonesia.online/",
  },
  {
    imgUrl: project3,
    projectName: "BeBalance",
    description:
      "Life can feel like a juggling act, and many of us struggle to keep all  the balls in the air. We saw the need for an app that offers real  support",
    techStacks: [
      "Fastify",
      "React",
      "Knex",
      "Open AI",
      "Zod",
      "PostgreSQL",
      "Typescript",
    ],
    github: "https://github.com/BinaryStudioAcademy/bsa-2024-bebalance.git",
    demo: "#",
  },
  {
    imgUrl: project4,
    projectName: "EZCOURSE",
    description:
      "Enhance your skills, connect with fellow tech enthusiat and access valuable resources. Start your learning from community to community",
    techStacks: [
      "React",
      "Antd",
      "Axios",
      "Typescript",
      "Express",
      "JWT",
      "Zustand",
      "MySQL",
      "Prisma",
      "Tanstack Query",
    ],
    github: "https://github.com/iqbalalayubbi/programming-course.git",
    demo: "#",
  },
];
---

<main class="h-auto xl:h-screen mt-20 md:mt-10 lg:mt-20 xl:mt-0">
  <h1 class="title-section">Projects</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-10 mt-20">
    {projects.map((project) => <ProjectCard {...project} />)}
  </div>
</main>
