---
import ProjectCard from "./ProjectCard.astro";
import project1 from "../../assets/project-1.png";
import project2 from "../../assets/project-2.png";
import project3 from "../../assets/project-3.png";
import project4 from "../../assets/project-4.png";

const projects = [
  {
    imgUrl: project1,
    projectName: "AiyCashier",
    description:
      "Point of Sale system to manage your business. Good reporting that can show best item of your market",
    techStacks: [
      "Vue",
      "Express",
      "Firebase",
      "JWT",
      "Daisy UI",
      "TailwindCSS",
    ],
  },
  {
    imgUrl: project2,
    projectName: "Easy Task",
    description:
      "Text block application that can easy to manage your task and note. Support by gemini AI that can help you to write faster and efficient",
    techStacks: ["PHP", "Tailwind", "Editor JS", "Gemini AI", "MySQL"],
  },
  {
    imgUrl: project3,
    projectName: "BeBalance",
    description:
      "Life can feel like a juggling act, and many of us struggle to keep all  the balls in the air. We saw the need for an app that offers real  support",
    techStacks: [
      "Fastify",
      "React",
      "Knex",
      "Open AI",
      "Zod",
      "PostgreSQL",
      "Typescript",
    ],
  },
  {
    imgUrl: project4,
    projectName: "EZCOURSE",
    description:
      "Enhance your skills, connect with fellow tech enthusiat and access valuable resources. Start your learning from community to community",
    techStacks: [
      "React",
      "Antd",
      "Axios",
      "Typescript",
      "Express",
      "JWT",
      "Zustand",
      "MySQL",
      "Prisma",
      "Tanstack Query",
    ],
  },
];
---

<main class="h-auto xl:h-screen mt-20 md:mt-10 lg:mt-20 xl:mt-0">
  <h1 class="title-section">Projects</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-10 mt-20">
    {projects.map((project) => <ProjectCard {...project} />)}
  </div>
</main>
