<nav class="flex items-center justify-center gap-4 text-text-light">
  <span
    class="text-text-light font-semibold cursor-pointer hover:text-text-light"
    >Home</span
  >
  <span class="text-link-disabled">Skills</span>
  <span class="text-link-disabled">Projects</span>
  <span class="text-link-disabled">Academics</span>
</nav>
