---
import SkillCard from "./SkillCard.astro";

const skills = [
  {
    title: "Tools",
    skills: [
      { icon: "devicon:figma", text: "Figma" },
      { icon: "mdi:github", text: "Github" },
      { icon: "devicon:vscode", text: "VS Code" },
    ],
  },
  {
    title: "Frontend",
    skills: [
      { icon: "devicon:nextjs", text: "Next JS" },
      { icon: "logos:vue", text: "Vue" },
      { icon: "logos:tailwindcss-icon", text: "Tailwind" },
    ],
  },
  {
    title: "Databse",
    skills: [
      { icon: "devicon:mongodb", text: "MongoDB" },
      { icon: "skill-icons:mysql-dark", text: "Mysql" },
      { icon: "devicon:postgresql", text: "PostgreSQL" },
    ],
  },
  {
    title: "Backend",
    skills: [
      { icon: "simple-icons:express", text: "Express JS" },
      { icon: "devicon-plain:fastify", text: "Fastify" },
      { icon: "devicon:nestjs", text: "Nest JS" },
    ],
  },
];
---

<main class="h-auto xl:h-screen mt-20 sm:mt-0">
  <h1 class="title-section">Skills</h1>
  <div
    class="mt-20 grid grid-cols-1 md:grid-cols-2 gap-y-5 lg:gap-y-10 lg:place-items-center"
  >
    {
      skills.map((skill, i) => {
        return (
          <div
            class={`${i % 2 !== 0 ? "sm:items-end" : "sm:items-start"} gap-4 flex flex-col items-center`}
          >
            <h2 class="text-text-light font-semibold text-xl text-center sm:text-start">
              {skill.title}
            </h2>
            <div
              class={`${i % 2 !== 0 ? "md:justify-end" : "md:justify-start"} flex sm:gap-8 lg:gap-4 gap-4 flex-row flex-wrap sm:flex-nowrap md:flex-wrap justify-center sm:justify-start`}
            >
              {skill.skills.map((skill) => {
                return <SkillCard icon={skill.icon} text={skill.text} />;
              })}
            </div>
          </div>
        );
      })
    }
  </div>
</main>
