---
import Navbar from "../components/Navbar/Navbar.astro";
import "../styles/base.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iqbal Al Ayyubi</title>
  </head>
  <body class="bg-dark-mode py-5 px-5 sm:px-20 md:px-10 container mx-auto">
    <Navbar />
    <slot />
  </body>
</html>
